@import url('https://fonts.cdnfonts.com/css/spacetype');
@import url('https://fonts.cdnfonts.com/css/knockout-punch');
@tailwind base;
@tailwind components;
@tailwind utilities;



#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'SpaceType', sans-serif;
}

.text-more-left {
  margin-left: -110px; /* Ajuste o valor conforme necessário */
}

.text-more-top {

  margin-top: 10rem;

}



.key-animation {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}



.pixel-art-button {
  position: fixed; /* Mantém o botão fixo na tela */
  top: 50px; /* Aumente este valor para baixar o botão */
  right: 100px; /* Ajuste conforme necessário para a direita */
  font-family: 'SpaceType', sans-serif; /* Exemplo de fonte pixelada */
  background-color: #000; /* Cor de fundo */
  color: #FFF; /* Cor do texto */
  border: 1px solid #FFF; /* Borda branca para simular pixels */
  font-size: 16px; /* Tamanho da fonte */
  padding: 8px 16px; /* Espaçamento interno */
  cursor: pointer; /* Cursor do mouse */
  outline: none; /* Remover contorno ao focar */
  text-align: center; /* Alinhar texto */
  display: inline-block; /* Tipo de exibição */
  text-decoration: none; /* Remover sublinhado de links */
  margin: 4px 2px; /* Margem externa */
  transition-duration: 0.4s; /* Transição suave */
  transform: scale(1); /* Escala inicial */
}

.pixel-art-button:hover {
  transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.pixel-art-button2 {
  position: fixed; /* Mantém o botão fixo na tela */
  top: 710px; /* Aumente este valor para baixar o botão */
  right: 50px; /* Ajuste conforme necessário para a direita */
  font-family: 'SpaceType', sans-serif; /* Exemplo de fonte pixelada */
  background-color: #000; /* Cor de fundo */
  color: #FFF; /* Cor do texto */
  border: 1px solid #FFF; /* Borda branca para simular pixels */
  font-size: 16px; /* Tamanho da fonte */
  padding: 8px 16px; /* Espaçamento interno */
  cursor: pointer; /* Cursor do mouse */
  outline: none; /* Remover contorno ao focar */
  text-align: center; /* Alinhar texto */
  display: inline-block; /* Tipo de exibição */
  text-decoration: none; /* Remover sublinhado de links */
  margin: 4px 2px; /* Margem externa */
  transition-duration: 0.4s; /* Transição suave */
  transform: scale(1); /* Escala inicial */
}

.pixel-art-button2:hover {
  transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.GUPY {

  position: fixed; /* Mantém o botão fixo na tela */
  top: 1300px; /* Aumente este valor para baixar o botão */
  right: 620px; /* Ajuste conforme necessário para a direita */
  font-family: 'Knockout Punch', sans-serif;
  color: #0c0a0a; /* Cor do texto */
  font-size: 14px; /* Tamanho da fonte */
  padding: 8px 16px; /* Espaçamento interno */
  cursor: none; /* Cursor do mouse */
  outline: none; /* Remover contorno ao focar */
  text-align: center; /* Alinhar texto */
  display: flex; /* Tipo de exibição */
  text-decoration: none; /* Remover sublinhado de links */
  margin: 4px 2px; /* Margem externa */
  transform: scale(2); /* Escala inicial */
  

}

.Font-pixel {

  font-family: 'SpaceType', sans-serif;
}


.icon{

  position: fixed; /* Mantém o botão fixo na tela */
  top: 50px; /* Aumente este valor para baixar o botão */
  right: 255px; /* Ajuste conforme necessário para a direita */
  font-family: 'SpaceType', sans-serif; /* Exemplo de fonte pixelada */
  font-size: 16px; /* Tamanho da fonte */
  padding: 8px 16px; /* Espaçamento interno */
  text-align: center; /* Alinhar texto */
  display: inline-block; /* Tipo de exibição */
  text-decoration: none; /* Remover sublinhado de links */
  transform: scale(1.7); /* Escala inicial */

}