@import url('https://fonts.cdnfonts.com/css/spacetype');
@import url('https://fonts.cdnfonts.com/css/knockout-punch');
@tailwind base;
@tailwind components;
@tailwind utilities;



#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: 'SpaceType', sans-serif;
}

.text-more-left {
  margin-left: -110px; /* Ajuste o valor conforme necessário */
}

.text-more-top {

  margin-top: 10rem;

}



.key-animation {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}



.pixel-art-button {
  position: fixed; /* Mantém o botão fixo na tela */
  top: 50px; /* Aumente este valor para baixar o botão */
  right: 100px; /* Ajuste conforme necessário para a direita */
  font-family: 'SpaceType', sans-serif; /* Exemplo de fonte pixelada */
  background-color: #000; /* Cor de fundo */
  color: #FFF; /* Cor do texto */
  border: 1px solid #FFF; /* Borda branca para simular pixels */
  font-size: 16px; /* Tamanho da fonte */
  padding: 8px 16px; /* Espaçamento interno */
  cursor: pointer; /* Cursor do mouse */
  outline: none; /* Remover contorno ao focar */
  text-align: center; /* Alinhar texto */
  display: inline-block; /* Tipo de exibição */
  text-decoration: none; /* Remover sublinhado de links */
  margin: 4px 2px; /* Margem externa */
  transition-duration: 0.4s; /* Transição suave */
  transform: scale(1); /* Escala inicial */
}

.pixel-art-button:hover {
  transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.pixel-art-button2 {
  position: fixed; /* Mantém o botão fixo na tela */
  top: 710px; /* Aumente este valor para baixar o botão */
  right: 50px; /* Ajuste conforme necessário para a direita */
  font-family: 'SpaceType', sans-serif; /* Exemplo de fonte pixelada */
  background-color: #000; /* Cor de fundo */
  color: #FFF; /* Cor do texto */
  border: 1px solid #FFF; /* Borda branca para simular pixels */
  font-size: 16px; /* Tamanho da fonte */
  padding: 8px 16px; /* Espaçamento interno */
  cursor: pointer; /* Cursor do mouse */
  outline: none; /* Remover contorno ao focar */
  text-align: center; /* Alinhar texto */
  display: inline-block; /* Tipo de exibição */
  text-decoration: none; /* Remover sublinhado de links */
  margin: 4px 2px; /* Margem externa */
  transition-duration: 0.4s; /* Transição suave */
  transform: scale(1); /* Escala inicial */
}

.pixel-art-button2:hover {
  transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.GUPY {

  position: fixed; /* Mantém o botão fixo na tela */
  top: 1300px; /* Aumente este valor para baixar o botão */
  right: 620px; /* Ajuste conforme necessário para a direita */
  font-family: 'Knockout Punch', sans-serif;
  color: #0c0a0a; /* Cor do texto */
  font-size: 14px; /* Tamanho da fonte */
  padding: 8px 16px; /* Espaçamento interno */
  cursor: none; /* Cursor do mouse */
  outline: none; /* Remover contorno ao focar */
  text-align: center; /* Alinhar texto */
  display: flex; /* Tipo de exibição */
  text-decoration: none; /* Remover sublinhado de links */
  margin: 4px 2px; /* Margem externa */
  transform: scale(2); /* Escala inicial */
  

}

.Font-pixel {

  font-family: 'SpaceType', sans-serif;
}


.icon {

  position: fixed; /* Mantém o botão fixo na tela */
  top: 710px; /* Aumente este valor para baixar o botão */
  right: 205px; /* Ajuste conforme necessário para a direita */
  font-family: 'SpaceType', sans-serif; /* Exemplo de fonte pixelada */
  font-size: 16px; /* Tamanho da fonte */
  padding: 8px 16px; /* Espaçamento interno */
  text-align: center; /* Alinhar texto */
  display: inline-block; /* Tipo de exibição */
  text-decoration: none; /* Remover sublinhado de links */
  transform: scale(1.7); /* Escala inicial */

}

.icon2 {

  position: fixed; /* Mantém o botão fixo na tela */
  top: 50px; /* Aumente este valor para baixar o botão */
  right: 255px; /* Ajuste conforme necessário para a direita */
  font-family: 'SpaceType', sans-serif; /* Exemplo de fonte pixelada */
  font-size: 16px; /* Tamanho da fonte */
  padding: 8px 16px; /* Espaçamento interno */
  text-align: center; /* Alinhar texto */
  display: inline-block; /* Tipo de exibição */
  text-decoration: none; /* Remover sublinhado de links */
  transform: scale(1.7); /* Escala inicial */

}

/*.project-card {
  border: 4px solid #000; 
  background-color: #fff; 
  transition: transform 0.3s ease; 
}*/

.project-card:hover {
  transform: scale(1.05); /* Efeito de zoom ao passar o mouse */
}

.project-card img.project-gif {
  width: 100%; /* Ajusta a largura da imagem para preencher o contêiner */
  height: auto; /* Mantém a proporção da imagem */
  max-width: 300px; /* Define uma largura máxima para a imagem */
  border-radius: 8px; /* Opcional: adiciona bordas arredondadas à imagem */
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 50px; /* Ajuste o espaçamento conforme necessário */
  justify-content: center; /* Centraliza os itens na linha se não preencherem todo o espaço */

}

.project-card {
  flex: 0 1 300px; /* Cresce até 300px, mas não encolhe abaixo disso */
  /* Ajuste a largura mínima conforme necessário para o tamanho do seu cartão */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens verticalmente */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Opcional: adiciona sombra para destaque */
  padding: 20px;
  border-radius: 10px; /* Opcional: bordas arredondadas */
}

.project-gif {
  width: 100%; /* Faz o GIF ocupar toda a largura do cartão */
  height: auto; /* Mantém a proporção do GIF */
  border-radius: 5px; /* Opcional: bordas arredondadas para o GIF */
}

.project-info {
  text-align: center; /* Centraliza o texto dentro do cartão */
}

.css-project {

width: 100%;
color: #0c0a0a; /* Cor do texto */
padding: 8px 450px; /* Espaçamento interno */
display: flex; /* Tipo de exibição */
text-decoration: none; /* Remover sublinhado de links */
margin: 4px 2px; /* Margem externa */
font-size: 2.25rem;
line-height: 2.5rem;

}

.css-project2{

  width: 100%;
color: #d71a1a; /* Cor do texto */
padding: 8px 340px; /* Espaçamento interno */
display: flex; /* Tipo de exibição */
text-decoration: none; /* Remover sublinhado de links */
margin: 4px 2px; /* Margem externa */
font-size: 2.25rem;
line-height: 2.5rem;

}


.video-css {

position: absolute;
width: 300px;
left: 50rem;
scale: 4;
opacity: 1;
z-index: -1;


}
